extends layout.pug

block content
  h1 Welcome to the EnterName Page
  form(action='/trackName' method='get')
    label(for='username') Enter your name:
    input(type='text' id='username' name='name')
    button(type='submit') Submit