header {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

.menu-trigger {
    display: none;
}

.WelcomeMessage {
    background-color: #cde;
    width: 100%;
    padding: 30px;
    margin: 1em auto;
    text-align: center;
}

section h2 {
    width: 50%;
    margin: 1em auto;
    text-align: center;
    padding: auto;
}

section div {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
}

.CallToAction {
    background-color: #ddeeff;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 300px;
}

.box {
    background-color: #89a;
    max-width: 600px;
    min-width: 250px;
    height: 5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
}

body {
    margin: 0;
}

@media(max-width:800px) {
    ul {
        display: none;
        list-style: none;
    }

    .menu-trigger {
        display: grid;
    }
}